# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Parte 1

### _Setup_ da parte 1

In [0]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

In [0]:
# Sua análise da parte 1 começa aqui.
dataframe.head()

      normal  binomial
0  21.986857        18
1  19.446943        15
2  22.590754        14
3  26.092119        15
4  19.063387        21

In [0]:
dataframe.shape

(10000, 2)

In [0]:
dataframe.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

In [0]:
22.684324 - 23.000000

-0.31567599999999985

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [0]:
q1_norm, q2_norm, q3_norm = dataframe['normal'].quantile((0.25,0.5,0.75))
print(f"Primeiro quantil ou 25% dos dados {q1_norm}")
print(f"Segundo quantil ou 50% dos dados {q2_norm}")
print(f"Terceiro quantil ou 75% dos dados {q3_norm}")

Primeiro quantil ou 25% dos dados 17.30963787997159
Segundo quantil ou 50% dos dados 19.98962009682849
Terceiro quantil ou 75% dos dados 22.68432355145866

In [0]:
q1_binom, q2_binom, q3_binom = dataframe['binomial'].quantile((0.25,0.5,0.75))
print(f"Primeiro quantil ou 25% dos dados {q1_binom}")
print(f"Segundo quantil ou 50% dos dados {q2_binom}")
print(f"Terceiro quantil ou 75% dos dados {q3_binom}")

Primeiro quantil ou 25% dos dados 17.0
Segundo quantil ou 50% dos dados 20.0
Terceiro quantil ou 75% dos dados 23.0

In [0]:
def q1():
    # Retorne aqui o resultado da questão 1.
    q1_norm, q2_norm, q3_norm = dataframe['normal'].quantile((0.25,0.5,0.75))
    q1_binom, q2_binom, q3_binom = dataframe['binomial'].quantile((0.25,0.5, 0.75))
    #Calculando as diferenças dos quantis
    q1_diff = q1_norm - q1_binom
    q2_diff = q2_norm - q2_binom 
    q3_diff = q3_norm - q3_binom
    #Formatando para 3 casas decimais
    q1_diff_format = float("{:.3f}".format(q1_diff))
    q2_diff_format = float("{:.3f}".format(q2_diff))
    q3_diff_format = float('{:.3f}'.format(q3_diff))
    #Variavel de retorno
    result = (q1_diff_format, q2_diff_format, q3_diff_format)
    return result

(0.31, -0.01, -0.316)

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [0]:
def q2():
    # Retorne aqui o resultado da questão 2.
    ecdf = ECDF(dataframe['normal'])
    mean = dataframe['normal'].mean()
    std = dataframe['normal'].std()
    interval = [mean - std, mean + std]
    interval_diff = ecdf(interval)[1] - ecdf(interval)[0]
    #Saida formatada
    interval_format = float('{:.3f}'.format(interval_diff))
    return interval_format

0.684

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    #Media e variancia normal
    m_norm = dataframe['normal'].mean()
    v_norm = dataframe['normal'].var()
    #Media e variancia da binomial
    m_binom = dataframe['binomial'].mean()
    v_binom = dataframe['binomial'].var()
    # Calculo de diferenca
    mean_diff = m_binom - m_norm
    var_diff = v_binom - v_norm
    #Saida formatada
    mean_diff_format = float('{:.3f}'.format(mean_diff))
    var_diff_format = float('{:.3f}'.format(var_diff))
    # Saida
    result = (mean_diff_format, var_diff_format)
    return result

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [0]:
stars = pd.read_csv("stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

In [0]:
stars.head()

   mean_profile  sd_profile  kurt_profile  ...  kurt_curve  skew_curve  target
0    102.507812   58.882430      0.465318  ...   10.576487  127.393580   False
1    103.015625   39.341649      0.323328  ...    7.735822   63.171909   False
2    136.750000   57.178449     -0.068415  ...    6.896499   53.593661   False
3     88.726562   40.672225      0.600866  ...   14.269573  252.567306   False
4     93.570312   46.698114      0.531905  ...   10.621748  131.394004   False

[5 rows x 9 columns]

## Inicie sua análise da parte 2 a partir daqui

In [0]:
# Sua análise da parte 2 começa aqui.

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [0]:
def standardization(data):
  media = data.mean()
  desvio_padrao = data.std()
  z = (data - media) / desvio_padrao
  return z 

def q4():
    # Retorne aqui o resultado da questão 4.
    false_pulsar_mean_profile_filter = stars[stars['target'] == 0]['mean_profile']
    #Padronizacao
    false_pulsar_mean_profile_standardized = standardization(false_pulsar_mean_profile_filter)
    #Achando os quantis
    false_pulsar_standardized_80_quantil = sct.norm.ppf(0.80, loc = false_pulsar_mean_profile_standardized.mean(), scale = false_pulsar_mean_profile_standardized.std())
    false_pulsar_standardized_90_quantil = sct.norm.ppf(0.90, loc = false_pulsar_mean_profile_standardized.mean(), scale = false_pulsar_mean_profile_standardized.std())
    false_pulsar_standardized_95_quantil = sct.norm.ppf(0.95, loc = false_pulsar_mean_profile_standardized.mean(), scale = false_pulsar_mean_profile_standardized.std())
    
    ecdf = ECDF(false_pulsar_mean_profile_standardized)
    
    #Utilizando a CDF empírica
    fp_standardized_empirical_80_quantil = ecdf(false_pulsar_standardized_80_quantil)
    fp_standardized_empirical_90_quantil = ecdf(false_pulsar_standardized_90_quantil)
    fp_standardized_empirical_95_quantil = ecdf(false_pulsar_standardized_95_quantil)
    
    #Formatacao de saida
    false_pulsar_80_quantil_format = float("{:.3f}".format( fp_standardized_empirical_80_quantil))
    false_pulsar_90_quantil_format = float("{:.3f}".format( fp_standardized_empirical_90_quantil))
    false_pulsar_95_quantil_format = float("{:.3f}".format( fp_standardized_empirical_95_quantil))
     
    #Saida 
    result = (false_pulsar_80_quantil_format, false_pulsar_90_quantil_format, false_pulsar_95_quantil_format)
    return result

q4()

(0.806, 0.911, 0.959)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [0]:
def q5():
    # Retorne aqui o resultado da questão 5.
    false_pulsar_mean_profile_filter = stars[stars['target'] == 0]['mean_profile']
    false_pulsar_mean_profile_standardized = standardization(false_pulsar_mean_profile_filter)
    
    #Evitar numeros magicos
    mean = 0
    std = 1
    q1 = 0.25
    q2 = 0.50
    q3 = 0.75
    thousand = 100
    
    #quantis para versao padronizada
    fp_standardized_25_quantil = np.percentile(false_pulsar_mean_profile_standardized, q1 * thousand)
    fp_standardized_50_quantil = np.percentile(false_pulsar_mean_profile_standardized, q2 * thousand)
    fp_standardized_75_quantil = np.percentile(false_pulsar_mean_profile_standardized, q3 * thousand)

    #Distribuicao normal
    q1_normal = sct.norm.ppf(q1, loc=mean, scale=std)
    q2_normal = sct.norm.ppf(q2, loc=mean, scale=std)
    q3_normal = sct.norm.ppf(q3, loc=mean, scale=std)
    

    #Diferenca
    q1_diff = fp_standardized_25_quantil - q1_normal
    q2_diff = fp_standardized_50_quantil - q2_normal 
    q3_diff = fp_standardized_75_quantil - q3_normal

    #Formatacao
    q1_diff_format = float("{:.3f}".format(q1_diff))
    q2_diff_format = float("{:.3f}".format(q2_diff))
    q3_diff_format = float("{:.3f}".format(q3_diff))
    return (q1_diff_format, q2_diff_format, q3_diff_format)

q5()

(0.027, 0.04, -0.004)

In [0]:
0.027, 0.04, -0.004


Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.